/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import '~ag-grid-community/dist/styles/ag-theme-alpine-dark.css';

h1{
    color:lightgrey;
    font-weight: bolder;
}
.lbl {
    color:greenyellow;
    font-weight: bold;
    font-size: medium;
}

#bdy {
    border: 2px solid black;
    padding: 25px;
    background: url('./assets/niq_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
input[type='checkbox'] {
    width: 25px;
  }